/* Sections
		 * --------------------------------------- */
body{
font-family:'Open Sans', Arial, sans-serif;
font-size:14px;
	font-weight:300;
	line-height:1.6em;
	color:#333;
	background-color:#fff;
}
hi,h2,h3,h4,h5,h6 {
	color:#FFFFFF;
	line-height:1.1em;
}
p {
    font-family:'Open Sans', Arial, sans-serif;
	color:#FFFFFF;
}
button, input, select, textarea { font-family: 'Open Sans', Arial, sans-serif; color: white}

#fp-nav ul li a span, .fp-slidesNav ul li a span  {
    
    background: white;
} /* 将导航小圆点改成白色 */


.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin:0px;
} /*将导航条内容居中。 You need to remove the float: left from the inner nav to center it and make it a inline-block. */

.navbar  {
  text-align: left;
} /*将导航条内容居中 */

#wrapper {
  position: relative;
  top: 15%;
  height: 500px;
}
#head {
  height: 1px; 
}

#hcenter {
  width: 260px;
  margin:   auto ;
  
}

#p1 {
  width: 50%;
  margin: auto;
  color: white;
}



.unslider-arrow.next {
  top: 50%;
  left: auto;
  right: 10%;
}
.unslider-arrow.prev {
    top: 50%;
    left: 10%;
    right: auto;
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.intro {
  width: 40%;
  margin: 0 auto;
}

#contactbox {
  width: 450px;
  margin: 0 auto;
}

.worksimg {
  opacity: 0.7;
}


.centerImage
{
text-align:center;
display:block;
}



@media screen and (min-width: 0px) and (max-width: 720px) {
  #col-md-5 col-sm-5
    #col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1
    #col-md-5 col-sm-5 { display: none; }
  .mobile-hide{ display: none; }
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-left: 1em 0;
    padding: 0; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.button {
    background-color: #EDEDF0;
    border: none;
    color: white;
    padding: 12px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #bf7400;
        color: white;
        border: 2px solid #FFFFFF;
}

.button1:hover {
    background-color: white;
        color: #bf7400;
    }

.button2 {
    background-color: #833682;
        color: white;
        border: 2px solid #FFFFFF;
}

.button2:hover {
    background-color: white;
        color: #833682;
    }
}

.navbar-text> a {
    color: inherit;
    text-decoration: none;
    padding-top:10px;
    margin-top:20px;
}
.top{
    position:fixed;
 width: 40px;
    height: 40px;
    right: 40px;
}
.top:hover{
background-color: white;
    color: #833682;

}

/* Chrome, Safari, Opera */
@-webkit-keyframes zoom {
    from {
    	-webkit-transform: scale(1,1);
    }
    to {
    	-webkit-transform: scale(1.5,1.5);
    }
}

/* Standard syntax */
@keyframes zoom {
   from {
        transform: scale(1,1);
   }
   to {
        transform: scale(1.5,1.5);
   }
}


.zoom {
    -webkit-animation: zoom 2s; /* Chrome, Safari, Opera */
    animation: zoom 2s;
}
/*backtop*/
#backtop {
	        position: fixed;
            left:auto;right: 20px;top:auto;bottom: 20px;
	        outline: none;
            overflow:hidden;
            color:#fff;
            text-align:center;
            background-color:rgba(49,79,96,0.84);
            height:40px;
            width:40px;
            line-height:40px;
            font-size:14px;
            border-radius:2px;
            cursor:pointer;
            transition:all 0.3s linear;
            z-index:999999;

            opacity:1;
            display:none;
        }
        #backtop:hover {
            background-color:#27CFC3;
        }
        #backtop.mcOut {
            opacity:0;
        }
/*aboutus
body {margin:0;padding:0;font-family:Arial, sans-serif;font-size:14px;background:#f6f6f6;}
        li {padding:0px 0;}
        code {color:green;}
        .img-responsive {
            display: block;
            width:100%;
            height: auto;
            max-width:500px;
        }
        .main-content {
            padding:70px;
            margin-right:300px;
        }
         
        #vertical-nav a {
            text-transform:uppercase;
            display:block;
            text-align:center;
            font:bold 20px/50px Arial;
            text-decoration:none;
            color:#666;
            transition:color 0.25s;
        }

        #vertical-nav a.active,  #vertical-nav a:hover {
            color:#b49901;
        }

        @media only screen and (max-width: 800px) {
            .floatWrapper {float:none!important;}       
            .float-panel {position:static!important;}
            .main-content {padding:20px;margin-right:0px;}
        }
*/