@import "compass/css3";

@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
	40% {
    @include transform(translateY(-30px));
  }
	60% {
    @include transform(translateY(-15px));
  }
}


body {
  background: black;
	color: blue; text-decoration: none;
}

.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  color: blue;
  background-image: url(-);
  background-size: contain;
}

.bounce {
  @include animation(bounce 2s infinite);
}